<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<!--<p th:text="${userList}"></p>-->

<th:block th:each="user : ${userList}">
<!--    Без id:-->
<!--    <p>Login: <th:block th:text="${user.getLogin()}"/>, Password: <th:block th:text="${user.getPassword()}"/> </p>-->
<!--    <br/>-->
<!--    <p>Login: <span th:text="${user.getLogin()}"/> </p>-->


<!--    Через Id-->
    <a th:href="@{/updateUser/{userId}(userId = ${user.getId()})}">
        <p>Login: <th:block th:text="${user.getLogin()}"/>, Password: <th:block th:text="${user.getPassword()}"/> </p>
    </a>
</th:block>
<p><a href="/">Вернуться на главную</a></p>
</body>
</html>